body {
    padding: 0;
    margin: 0;
    background-color: #ebe1d2;
}



.confirm {
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cdb4b4;
    box-shadow: 3px 3px 3px #c2a184;
    border-radius: 5px;
}


.confirm_container {
    padding: 10px;
}

.confirm_container .title {
    color: black;
    text-align: center;
    font-size: 20px;
}

.confirm_actions {
    display: flex;
    column-gap: 10px;
}

.confirm_actions button {
    font-size: 10px;
    border: none;
    padding: 5px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

.confirm_actions .btn-continue {
    background-color: #ffffff;
}

.dialog {
    display: none;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f2f0;
    box-shadow: 3px 3px 3px; 
    border-radius: 5px;
    font-size: 22px;
}

.dialog_container {
    padding: 15px 5px;
}

.dialog_container p {
    color: #fff;
    text-align: center;
}